{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <script src="{% static 'dropdown.js' %}"></script>
</head>


<body>
    <div id="page-container">
        <div id="content-wrap">
            <h2 style="font-family: Garamond, serif;margin-left: 20px;">Kibler Strategies</h2>
            <div class="topnav">
                &nbsp; &nbsp; &nbsp;
                <a href="{% url 'home:home' %}" style="margin-left: 5px;">Home</a>
                <a href="{% url 'portfolio:portfolio' %}">Portfolio</a>
                <a href="{% url 'about:about' %}">About</a>
                <a href="{% url 'questions:questions' %}">Quest</a>
                <a href="{% url 'collect:collect' %}">Collect</a>
                <div class="dropdown">
                    <button class="dropbtn" onclick="drop()">Dropdown
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>


                <div class="search-container">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <section>
                <a href=" {% url 'home:home' %}" style="background-color: transparent;"><img
                        src="{% static 'manila_folder.jpg' %}" style="width:25%;" /></a>
            </section>
            <footer id="footer" class="footer">
                <p>
                    Kibler Strategies 2022
                </p>
            </footer>

        </div>
    </div>
</body>

</html>