{% load static %}
<!DOCTYPE html>
<html lang="en">

<html lang="en">

<head>
  <title>Portfolio</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'port.css' %}" />
  <script src="{% static 'dropdown.js' %}"></script>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <h2 style="font-family: Garamond, serif;margin-left: 20px;">Kibler Strategies</h2>
      <div class="topnav">
        <a href="{% url 'home:home' %}" style="margin-left: 5px;">Home</a>
        <a href="{% url 'portfolio:portfolio' %}">Portfolio</a>
        <a href="{% url 'about:about' %}">About</a>
        <a href="{% url 'questions:questions' %}">Quest</a>
        <div class="dropdown">
          <button class="dropbtn" onclick="drop()">Dropdown
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="search-container">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>


      <section>
        <form method="get">
          <input type="submit" value={{x}} name="mybtn" id="start_submit" class="btn btn-success" />
          <div style="width: 10%;margin-left: 75px;">
            {{df|safe}}
          </div>
        </form>
      </section>


      <footer id="footer" class="footer">
        <p>
          Kibler Strategies 2022
        </p>
      </footer>

    </div>
  </div>
</body>

</html>