* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(73, 79, 85);
}

.top {
    font-family: Garamond, serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    margin: 0;
}

body {
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    overflow: auto;
    float: right;
    right: 5%;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
    padding-top: 70px;
    margin-left: 20px;
    font-weight: bold;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar a:hover {
    color: #4dff00;
}

.logo {
    overflow: auto;
    float: left;
    left: 5%;
    position: relative;
}

.logo p {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    display: inline-block;
    position: relative;
    padding-top: 44px;
    font-weight: bold;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    background-color: rgb(73, 79, 85);
    /*padding-bottom: 2.5rem;*/
    /* Footer height */
}

div.footer_holder {
    height: 40px;
    width: 100vw;
    background-color: rgb(73, 79, 85);
}

.foot>p {
    margin-top: 14px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #d7d7d7;
}

div.foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 233, 233, .2);
    color: rgb(0, 0, 0);
    text-align: center;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #3b3c3d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #696969 #c7c7c7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #c7c7c7;
}

*::-webkit-scrollbar-thumb {
    background-color: #696969;
    border-radius: 10px;
    border: 0px solid #ffffff;
}