{% load static %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'all.css' %}" />
    <!--<script src="{% static 'dropdown.js' %}"></script>-->
</head>


<body>
    <div id="page-container">
        <div id="content-wrap">
            {% include 'navbar.html' %}
            {% block content %}{% endblock %}



            <section style="min-height: 100vh;width: 100%; background-color: rgb(73, 79, 85);">
                <div class="about-section">
                    <h1>About Us Page</h1>
                    <p>Some text about who we are and what we do.</p>
                    <p>Resize the browser window to see that this page is responsive by the way.</p>
                </div>

                <h2 style="text-align:center; color:white">Our Team</h2>
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img src="{% static 'dog1.jpg' %}" alt="Jane" style="width:100%">
                            <div class="container">
                                <h2>Jane Doe</h2>
                                <p class="title">CEO & Founder</p>
                                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                                <p>jane@example.com</p>
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="{% static 'dog2.jpg' %}" alt="Mike" style="width:100%">
                            <div class="container">
                                <h2>Mike Ross</h2>
                                <p class="title">Art Director</p>
                                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                                <p>mike@example.com</p>
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="{% static 'dog3.jpg' %}" alt="John" style="width:100%">
                            <div class="container">
                                <h2>John Doe</h2>
                                <p class="title">Designer</p>
                                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                                <p>john@example.com</p>
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="footer_holder"
                style="background-repeat:no-repeat;background-size:cover;background-color: rgb(73, 79, 85);">
                <div class="foot">
                    <p>
                        Kibler Strategies 2022
                    </p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>