{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'all.css' %}" />
    <link rel="stylesheet" href="{% static 'collect.css' %}" />
</head>


<body>
    <div id="page-container" style="background-color: rgb(73, 79, 85);">
        <div id="content-wrap">
            {% include 'navbar.html' %}
            {% block content %}{% endblock %}

            <form id="post-form" class="post-form">
                {% csrf_token %}

                <section style="padding-bottom: 50px; ">
                    <div class="container">
                        <div class="wrap">
                            <h2> Pick your tickers!</h2>

                        </div>
                        <div>
                            <h3>Iterations to Perform: </h3>
                            <input name="Iterations" id="Iterations" value="20" type="number" min="1" max="40">
                        </div>
                        <div class="step step-1 active">
                            <div class="inp-group">
                                <div class="form-group">
                                    <label id="1">1. </label>
                                    <input type="text" id="symbol1" placeholder="Enter a stock">
                                    <input id="Allocation1_1" placeholder="Stock 1 Allocation" type="number" min="0"
                                        max="100">
                                </div>
                                <div class="form-group">
                                    <label id="2">2. </label>
                                    <input type="text" id="symbol2" placeholder="Enter a stock">
                                    <input id="Allocation2_1" placeholder="Stock 2 Allocation" type="number" min="0"
                                        max="100" onkeyup="addRow(this)">
                                </div>
                                <div class="form-group">
                                    <label id="3">3. </label>
                                    <input type="text" id="symbol3" placeholder="Enter a stock" disabled="disabled">
                                    <input id="Allocation3_1" placeholder="Stock 3 Allocation" type="number" min="10"
                                        max="100" disabled="disabled">
                                </div>
                            </div>
                            <div id="textbox">
                                <div name="Table1" id="Table1" class="aligncenter" style="margin: 0 auto;">

                                </div>
                                <div name="Table2" id="Table2" class="alignleft" style="margin: 0 auto;">

                                </div>
                            </div>
                        </div>
                        <div id="myProgress" style="display:none">
                            <div id="myBar"></div>
                        </div>
                        <input id="table-btn" name="table-btn" type="submit" disabled="disabled" onclick="move()"
                            style="margin-bottom: 5px;" />

                    </div>


                </section>

            </form>
        </div>

        <div class="footer_holder"
            style="background-image:url('static/stocks.jpg'); background-repeat:no-repeat;background-size:cover;">
            <div class="foot">
                <p>
                    Kibler Strategies 2022
                </p>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{% static 'collect_table.js' %}"></script>
<script type="text/javascript" src="{% static 'collect_quest.js' %}"></script>

</html>