<div class="topnav">
    &nbsp; &nbsp; &nbsp;
    <a href="{% url 'home:home' %}" style="margin-left: 5px;">Home</a>
    <a href="{% url 'portfolio:portfolio' %}">Portfolio</a>
    <a href="{% url 'about:about' %}">About</a>
    <a href="{% url 'collect:collect' %}">Collect</a>
    <!--<div class="dropdown">
        <button class="dropbtn" onclick="drop()">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>-->
</div>