{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'all.css' %}" />
    <script src="{% static 'dropdown.js' %}"></script>
</head>


<body>
    <img src="{% static 'quackers.jpg' %}" alt="You don't belong here">
</body>

</html>